.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6e9442;
    color: white;
    padding: 20px;
}

.rodape li{
    list-style: none;
    padding: 2px 0;
}