html body main .accordion{
    width: 100%;
    
}

.accordion-item{
    width: 90%;
    margin: 0 auto;
}

main {
    padding-top: 80px;
    background-color: rgba(171, 231, 160, 0.737);
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 50px;
    padding-bottom: 800px;
    box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 20%);
}