#carrossel {
    display: flex;
    justify-content: center;

}

.flv {
    padding: 80px 0;
    width: 400px;
    height: 300px;
    background-color: white;
    text-align: center;
}

.flv-image {
    width: 90%;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.flv h3 {
    padding-bottom: 15px;
}

#maca {
    background-image: url(../img/fruta/red-apple-isolated.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#pera {
    background-image: url(../img/fruta/pera_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#banana {
    background-image: url(../img/fruta/banana_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#pepino{
    background-image: url(../img/legume/pepino_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#abobora{
    background-image: url(../img/legume/abobora_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#batata{
    background-image: url(../img/legume/batata_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#alface{
    background-image: url(../img/verdura/alface_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#couve{
    background-image: url(../img/verdura/couve_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#espinafre{
    background-image: url(../img/verdura/espinafre_isolated.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.esq {
    margin-left: 10px;
    position: relative;
    top: 50%;
    background-image: url(../img/arrow-arrow-left.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    background-color: unset;
}

.dir {
    margin-right: 10px;
    position: relative;
    top: 50%;
    background-image: url(../img/arrow-arrow-right.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    background-color: unset;
}

#carrossel button:hover {
    cursor: pointer;
}

.fruta {
    display: block;
}

.legume {
    display: none;
}

.verdura {
    display: none;
}