main {
    padding-top: 8%;
    padding-bottom: 2%;
    text-align: center;
}

form {
    border-radius: 25px;

    max-width: 800px;
    margin: 0 auto;
}

form>div {
    margin: 10px 0;
    padding-top: 3%;
}

form label {
    margin-right: 20px;
}

form input {
    padding: 2px 5px;
    border: 1px solid black;
    height: 25px;
}

form input:focus {
    outline: none;
}

form textarea {
    border: 2px solid black;
    width: 500px;
    height: 200px;
    resize: none;
    padding: 10px;
    font-size: 20px;
}

form textarea:focus {
    outline: none;
}

form button {
    width: 200px;
    padding: 10px;
}

form button:hover {
    cursor: pointer;
}