main{
    padding-top: 100px;
}

h1{
    text-align: center;
}

form{
    max-width: 1000px;
    margin: 10px auto;
    
    padding: 15px;
}

.box-botoes button:last-child {
    background-color: green;
    border: green;
}

.box-botoes button:last-child:focus{
    background-color: green;
    border: green;
}