* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff281;
    padding: 15px 0;
}

header div img {
    width: 200px;
    margin-left: 20%;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header li {
    margin-left: 30px;
    font-size: 25px;
}

header li a {
    text-decoration: none;
    color: #51b441;
}


li>svg {
    margin: 0 70px 0 50px;
    width: 30px;
    height: auto;
    cursor: pointer;
    color: #51b441;
}

#barraLateral{
    display: none;
    padding-top: 74px;
    background-color: #fff281;
    margin: 0 auto;
    text-align: center;
    transition: .9s;
}

#barraLateral a{
    color: black;
    text-decoration: none;
}

#barraLateral ol li{
    border-top: 1px solid black;
    list-style: none;
    padding: 5px 0;
}

#barraLateral ol li:hover{
    background-color: #faea54f9;
    transition: .2s;
}