.intro {
    background-image: url(./../img/frutas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.intro-info {
    position: relative;
    top: 32%;
    color: white;
    font-size: 1.5em;
    margin-left: 3%;
    z-index: 0;
}

h1,
p {
    margin-bottom: 50px;
    max-width: 800px;
}

.intro-info>button {
    width: 300px;
    height: 60px;
    background-color: rgb(207, 233, 188);
    border: 0;
    transition: .8s;

}

.intro-info>button:hover {
    cursor: pointer;
    transition: .8s;
    letter-spacing: 2px;
    font-size: 20px;
}

#sessoes{
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;

    & button{
        margin: 0 20px;
        border: none;
        border-radius: 50%;
        background-color: red;
        height: 20px;
        width: 20px;
    };

    & button:hover {
        cursor: pointer;
    }
}