.display_block {
    display: block;
}

.display_none {
    display: block;
}

.intro {
    background-image: url(./../img/frutas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.intro-info {
    color: white;
    font-size: 1.5em;
    z-index: 0;
}

.intro-info h1 {
    padding-top: 10%;
    margin-bottom: 50px;
    margin-left: 3%;
}

.intro-info p{
    margin-bottom: 50px;
    max-width: 900px;
    margin-left: 3%;
}

p#missao{
    max-width: 750px;
    font-size: 26px;
}

.intro-info button {
    margin-left: 3%;
    margin: 0 auto;
    text-align: center;
    padding: 0 25px;
    height: 60px;
    background-color: #51b441;
    border: 0;
    transition: .8s;
    display: flex;
    align-items: center;
}

.intro-info button:hover {
    cursor: pointer;
    transition: .8s;
    letter-spacing: 2px;
    font-size: 20px;
}

.intro-info a{
    color: black;
    text-decoration: none;
    margin: auto;
    text-align: center;
}

#pretencao{
    font-size: 26px;
}

#intro-btn-navegacao {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

#intro-btn-navegacao svg{
    margin: 0 20px;
    border: none;
    border-radius: 50%;
    background-color: white;
    height: 40px;
    width: 40px;
    margin-bottom: 50px;
}

#intro-btn-navegacao button:hover{
    cursor: pointer;
}

@media (max-width: 780px) {
    .intro-info h1 {
        text-align: center;
        letter-spacing: 2px;
        padding: 100px 2% 0 2%;
    }

    .intro-info p{
        text-align: justify;
        padding: 0 3% 0 3%;
        margin: 0;
    }

    .intro-info button {
        text-align: center;
        margin-top: 20px;
        
    }
}

@media (max-width: 610px) {
    .intro .intro-info p#missao, p#pretencao {
        font-size: 25px;
    }
}