#section-pontos-positivos{
    padding-bottom: 50px;
}

.pontos-positivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;

}

.box {
    flex: 1 1 calc(29.333%) ;
    padding: 70px 2% 0 2%;
    width: 100%;
    text-align: justify;
}

.box h3 {
    text-align: center;
    padding-bottom: 15px;
}

.box-content {
    width: 90%;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.box-content img{
    width: 200px;
}

@media (max-width: 980px) {
    .box {
        flex: 1 1 calc(46%) ;
        padding: 30px 2%;
    }
    
}

@media (max-width: 600px) {
    .box {
        flex: 1 1 calc(100%);
        padding: 20px 4%;
    }
    
}