.display_block{
    display: block;
}

.display_none{
    display: none;
}

main {
    padding-top: 120px;
    background-color: rgba(171, 231, 160, 0.737);
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 50px;
    padding-bottom: 80px;
    box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 20%);
}

.txt-center {
    text-align: center;
}

h1 {
    padding: 0px 0 20px 0;
}

.imagem-questao {
    margin: 0 auto;
    padding: 20px 0;
    width: 1000px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

#questao01 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao1.jpeg');
    background-position: center;

}

#questao02 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao2.jpeg');
    background-position: center;
}

#questao03 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao3.png');
    background-position: center;
}

#questao04 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao4.jpeg');
    background-position: center;
    background-size: contain;
}

#questao05 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao5.jpeg');
    background-position: center;
}

#questao06 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao6.jpeg');
    background-position: center;
}

#questao07 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao7.jpeg');
    background-position: center;
}

#questao08 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao8.jpeg');
    background-position: center;
}

#questao09 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao9.jpeg');
    background-position: center;
}

#questao10 .imagem-questao{
    background-image: url('../img/quiz/quiz1-questao10.jpeg');
    background-position: center;
}

h3 {
    padding: 20px 0 40px 0;
}

main div p {
    padding: 5px 0;
    font-size: 20px;
}

.alternativas {
    padding-bottom: 40px;
}

input {
    margin-right: 25px;
    height: auto;
}