.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(205, 34, 54);
    color: white;
    padding: 20px;
}

.rodape li {
    list-style: none;
    padding: 2px 0;
}

.rodape svg{
    width: 50px;
    height: auto;
}